body{
  background : lavender; 

}


.emoji {
  /** border : 4px solid aliceblue; 
  background : none; 
  border-radius : 50%; **/

  position : fixed; 
  width : 1em; 
  height : 1em;
  font-size: 200%;
}
